<%= form_with model: @child do |f| %>
  <% if @child.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @child.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, "Prénom" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :birth_date, "Date de naissance" %>
    <%= f.date_field :birth_date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :gender, "Genre" %>
    <%= f.select :gender, options_for_select([["Garçon", "garçon"], ["Fille", "fille"], ["Autre", "autre"]]), {}, class: "form-control" %>
  </div>

  <%= f.submit "Enregistrer", class: "btn btn-success" %>
<% end %>